@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderColorTransition {
  0% {
    border-top-color: purple;
    border-right-color: purple;
    border-bottom-color: purple;
    border-left-color: purple;
  }
  33% {
    border-top-color: red;
    border-right-color: purple;
    border-bottom-color: purple;
    border-left-color: purple;
  }
  66% {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: purple;
    border-left-color: purple;
  }
  100% {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: green;
    border-left-color: green;
  }
}

.animate-border-corner {
  animation: borderColorTransition 10s ease-in-out forwards;
}
